{% load uni_form_tags %}

{{ formset.management_form }}
<div class="emptyTemplate" style="display:none;">
{% with formset.empty_form as form %}
    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}
{% endwith %}
</div>

{% for form in formset.forms %}
<div class="{{ group_css }}">
    {% if form.non_field_errors %}
    <div class="ctrlHolder error">
        {% for error in form.non_field_errors %}
        <p class="errorField">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {% if hidden.errors %}
            <div class="ctrlHolder error">
            {% for error in hidden.errors %}
                <p class="errorField">{{ hidden.label }}: {{ error }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}

</div>
{% endfor %}
